/******** CLEARFIX HACK *******/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/******** END CLEARFIX HACK *******/

/******** GENERAL ********/
input{
	--webkit-appearance: none;
	border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #3498db;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
}
.app{
	background: #2a8bcc;
}

.hidden{
	display: none;
	visibility: none;
}

.error{ 
	color: #e74c3c;
}

.success{
	color: #2ecc71;
}

a{
	color: #111;
	color: #3498db;
	text-decoration: none;
}
a:hover{
	color: #555;
}

input:not([type='submit']){
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
	color: #333;
	font-size: 19px;
	background: transparent;
	background: transparent;
	vertical-align: middle;
	border: none;
	outline: none;
	-webkit-appearance: none;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
input:not([type='submit']):focus{
	border-color: #3498db;
	color: #3498db;
}

input:not([type='submit']):focus::-webkit-input-placeholder{
	color: #3498db;
}

.button{
	-webkit-appearance: none;
	font-family: sans-serif;
	position: relative;
	vertical-align: top;
	height: 40px;
	padding: 0 15px;
	font-size: 14px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #3498db;
	border: 0;
	border-bottom: 2px solid #2a8bcc;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #2a8bcc;
	box-shadow: inset 0 -2px #2a8bcc;
	margin: 0;
	vertical-align: middle;
	line-height: 40px;
	display: inline-block;
}
.button:hover{
	opacity: 0.8;
	color: inherit;
}

.button-primary{
	background: #3498db;
	-webkit-box-shadow: inset 0 -2px #2a8bcc;
	box-shadow: inset 0 -2px #2a8bcc;
}
.button-primary:hover{
	color: #fff;
}

.button-secondary{
	color: #454545;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #ecf0f1;
	border-bottom: 2px solid #dadedf;
	-webkit-box-shadow: inset 0 -2px #dadedf;
	box-shadow: inset 0 -2px #dadedf;
}

.button-danger{
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #c0392b;
	border-bottom: 2px solid #b53224;
	-webkit-box-shadow: inset 0 -2px #b53224;
	box-shadow: inset 0 -2px #b53224;
}

.button-danger:hover{
	color: #fff;
}

.site-footer{

}

/******** END GENERAL ********/

/******** LOGIN ********/

.login-page{
	list-style: none;
	margin: 0;
	padding: 0;
}

.login-page a{
	color: #666;
}
.login-page a:hover{
	color: #222;
}

.login-error{
	height: 20px;  /*Needs fixed height to stop form moving when appearing */
	margin: 20px auto;
	text-align: center;
}

.login-success{
	height: 20px;  /*Needs fixed height to stop form moving when appearing */
	margin: 20px auto;
	text-align: center;
}

.login-form{
	width: 400px;
	margin: auto;
}
.login-form input{
	width: 100%;
	text-align: center;
	margin: 5px 0;
}

.login-form input[type='submit']{
	-webkit-appearance: none;
	position: relative;
	vertical-align: top;
	height: 60px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #3498db;
	border: 0;
	border-bottom: 2px solid #2a8bcc;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #2a8bcc;
	box-shadow: inset 0 -2px #2a8bcc;
	margin-top: 20px;
}
.login-form input[type='submit']:hover{
	opacity: 0.8;
}
.register-button{
	float: right;
}

.login-title{
	text-align: center;
	font-size: 3em;
}
.login-title h2{
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	margin-top: 80px;
}

/******** END LOGIN ********/

/******** REGISTER ********/
.avatar{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.drop{
	display: inline-block;
	text-align: center;
	line-height: 150px;
	height: 150px;
	width: 150px;
	border: 1px dashed #ccc;
	cursor: pointer;
	overflow: hidden;
}

.drop img{
	height: 100%; 
}

.dragover{
	border: 1px dashed #3498db;
	color: #3498db;
}

.register-page{
	list-style: none;
	padding: 0;
	margin: auto;
	width: 300px;
}

.register-page input[type="text"], .register-page input[type="password"]{
	width: 100%;
}

.register-page .buttons{
	text-align: right;
	margin: 10px 0;
}

.register-page a{
	color: #666;
}
.register-page a:hover{
	color: #222;
}

.register-error{
	text-align: right;
	height: 20px;
}
.register-error:first-child{
	text-align: center;
}

.sign-up{
	margin-left: 10px;
}

.avatar-upload{
	/* Hack to allow hidden file upload */
	position: absolute;
	top: -1000px;
	left: -1000px;
}

/******** END REGISTER ********/

/******** LATEST ********/
.main{
	background: #2a8bcc;
}

.menu-container{
	font-family: 'Lato', sans-serif;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	background-color: white;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1000000;
}

.menu-container .menu-inside{
	max-width: 900px;
	margin: auto;
	list-style: none;
}
.menu-container ul{padding: 0;}
.menu-container .menu-inside li{
	padding: 10px 0;
}
.menu-container .menu-inside li h2{
	padding: 0;
	margin: 0;
}
.menu-container .menu-inside li a{
	color: #27516E;
}

.menu-container .menu-inside li a:hover{
	color: #297AB3;
}

.logo{
	float: left;
}
.menu-icon{
	float: right;
	margin-top: 6px;
}
.menu-icon img{
	height: 30px;
	width: auto;
}

.latest-page{
	padding: 20px;
	max-width: 900px;
	margin: auto;
}

.feed article{
	position: relative;
	max-width: 900px;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px 0;
	background: #fff;
	line-height: 1.5em;
}
.feed article p{
	margin: 20px;
}
.feed article header{
	margin-left: 20px;
}

.latest-page .more a{
	display: block;
	width: 200px;
	text-align: center;
	margin: auto;
	background-color: #fff;
	padding: 10px;
	color: #222;
}
.latest-page .more a:hover{
	opacity: 0.9;
}

.latest-page header h2{
	margin: 0;
	margin-top: 8px;
}
.recent-post{
	padding: 10px;
	background-color: #fff;
}

.recent-post h2{
	float: left;
	color: #000
}

.recent-post .blog-title{
	font-weight: normal;
}

.post-something{
	float: right;
}

.feed article footer .readmore{
	float: right;
}

article .edit{
	position: absolute;
	top: 0;
	right: 0;
}
.popular-blogs ul{
	margin: 0;
	padding: 5px;
	margin-bottom: 20px;
	list-style: none;
	display: block;
}
.popular-blogs ul a{
	color: #fff;
}
.popular-blogs ul a:hover{
	color: #eee;
}
.popular-blogs ul li{
	float: left;
}

.popular-blogs ul li + li::before{
	content: '/';
	color: #fff;
	margin: 0 10px;
}

/** ==== temp ==== **/
.site-footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
body{
	margin-bottom: 50px;
}
/** ==== END temp ==== **/

.site-footer{
	background-color: #fff;
	border-top: 1px solid #ccc;
}

.site-footer ul{
	margin: 0;
	padding: 0;
}
.site-footer ul li{
	list-style: none;
	float: left;
	padding: 10px;
}
.site-footer ul li a{
	color: #222;
}

.site-footer ul li a:hover{
	color: #666;
}
.footer-container{
	max-width: 900px;
	margin: auto;
}

.new-post{
	background-color: #fff;
	padding: 10px;
	height: 100%;
}

.new-post + .site-footer{
	position: absolute;
	top: 0px;
}

.new-post .post-title{
	width: 100%;
	margin-bottom: 10px;
}

.new-post textarea{
	width: 100%;
	max-width: 100%;
	height: 200px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 15px;
	line-height: 1.5em;
	margin-bottom: 10px;
}

.new-post .buttons{
	float: right;
}


.category{
	float: left;
	line-height: 42px;
}

.sticky-footer footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
/*.main{
	height: 100%;
	box-sizing: border-box;
}*/
.category select{
	width: 150px;
}


.post-details{
	background-color: #fff;
}




/***** 404 *******/
.page-not-found{
	background-color: #fff;
	margin: 40px;
	padding: 20px 40px;
}
.page-not-found h1{
	font-size: 3.5em;
	float: left;
	margin: 20px;
}
.page-not-found h2{
	font-size: 1.5em;
}

.page-not-found .nav{
	clear: both;
	float: right;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}
.page-not-found .nav li{
	float: left;
	list-style: none;
}

.page-not-found .nav li + li::before{
	content: " | ";
	padding: 0 10px;
}

.feed .more{
	margin-top: 10px;
}

.feed .more img{
	height: 15px;
	width: auto;
}

.allblogs li{
	list-style: none;
	margin: 10px 0;
}

/** Show post **/

.post-user{
	background-color: #fff;
	float: left;
	padding: 10px;
	text-align: center;
}

.post-user img{
	margin: 10px;
}

.post-content{
	margin-left: 190px;
	background-color: #fff;
	padding: 20px;
	position: relative;
	line-height: 1.6em;
}
.post-triangle{
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right: 20px solid #fff;
	position: absolute;
	top: 30px;
	left: -20px;
}

.post-details{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	text-align: right;
}
.post-comments{
	margin-top: 10px;
}

.comment{
	background-color: #fff;
	padding: 10px;
}

.post-blog-title{
	float: left;
}
.post-comment-title{
	padding: 15px;
	background-color: #fff;
}
.post-comment-title h3{
	margin: 5px;
}

.comment-user{
	float: left;
}
.comment-body{
	margin-left: 70px;
}
.comment-date{
	float: right;
}
.new-comment{
	text-align: center;
}
.new-comment textarea{
	width: 98%;
	max-width: 98%;
	min-height: 50px;
	margin: auto;
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 1.5em;
	padding: 5px;
}

.post-comment-title .action{
	float: right;
}